[[source]]
name= "pypi"
url="https://pypi.org/simple"
verify_ssl =true

[dev-packages]
pytest= "*"   # use latest version of pytest
mock=">=4.0.0"  # use v4.0.0 or later

[packages]
flask= "==1.1.2"  # use v1.1.2 only

[requires]
python_version ="3"

flask~=1.1.2